[Unit]
Description=ManageSF API Service
After=syslog.target network.target mariadb.service

[Service]
Type=simple
User=managesf
Group=managesf
SyslogIdentifier=managesf
ExecStart=/usr/sbin/uwsgi --plugin python --http-socket :20001 --pecan /etc/managesf/config.py

[Install]
WantedBy=multi-user.target
