[Unit]
Description=ManageSF API Service
After=syslog.target network.target mariadb.service

[Service]
Type=simple
User=managesf
Group=managesf
SyslogIdentifier=managesf
ExecStart=/bin/gunicorn_pecan-3 --workers 1 -t 1800 --access-logfile - --access-logformat '%(h)s %(l)s "%(r)s" %(s)s %(b)s "%(f)s" "%(a)s"' --chdir / -b 0.0.0.0:20001 --name managesf /etc/managesf/config.py

[Install]
WantedBy=multi-user.target
