-e git+https://github.com/openstack-infra/python-storyboardclient.git#egg=python-storyboardclient
pbr
pecan
WebOb
requests
passlib
basicauth==0.3
sqlalchemy
urllib3
sphinx
PyYAML
stevedore
PyMySQL
six
oslo.policy
deepdiff==3.3.0
GitPython
