-e git+https://github.com/redhat-cip/pysflib.git#egg=pysflib
pecan
#WebOb==1.4.1
gerritlib
python-ldap
requests>=2.2.1
passlib
basicauth
sqlalchemy
nose
mock
urllib3
pycrypto
htpasswd
pygerrit
python-redmine
sphinx
